.Rproj.user
.Rhistory
.RData
.Ruserdata
d6_teaching_collection-main/R_exercises
d6_teaching_collection-main/R
d6_teaching_collection-main/output
d6_teaching_collection-main/img
d6_teaching_collection-main/data/data_berlin
d6_teaching_collection-main/data/data_borneo
d6_teaching_collection-main/data/data_move